/*.h2 {*/
/*  margin-bottom: 10em;*/
/*}*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.description {
  text-align: center;
  margin-top: 10px;
}